@font-face {
  font-family: "Atype1Normal";
  src: local('Atype 1 Normal'), url('../fonts/Atype%201%20Light.ttf');
}

@font-face {
  font-family: "TCC Sans Light";
  src: local('TCCSANS-Light'), url('../fonts/TCCSANS-Light.otf');
}